HOOKCODE_WORK_DIR=~/.hookcode/workers/local-dev-worker
HOOKCODE_WORKER_BIND_CODE=hcw1.replace-me
HOOKCODE_WORKER_KIND=remote
HOOKCODE_WORKER_NAME=Local Dev Worker
HOOKCODE_WORKER_MAX_CONCURRENCY=1
HOOKCODE_WORKER_PREVIEW=1
